*,::after,::before{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: pink;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.game{
    width: 100%;
    height: 100vh;
    display: grid;
    gap: 1rem;
    place-content: center;
}
.gameBoard{
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
.cell{
    width: 100%;
    height: 100%;
    border: 2px solid white;
    display: grid;
    place-items: center;
    cursor: pointer;
    grid-template-areas: "draw";
}
.cross::after{
    content: "";
    grid-area: draw;
    display: block;
    width: 10px;
    height: 70px;
    background-color: white;
    transform: rotate(45deg);
    border-radius: 10px;
    animation: show-reverse .3s;
}
.cross::before{
    content: "";
    grid-area: draw;
    display: block;
    width: 10px;
    height: 70px;
    background-color: white;
    transform: rotate(-45deg);
    border-radius: 10px;
    animation: show .3s;
}
.circle::after{
    content: "";
    grid-area: draw;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 10px solid white;
    animation: show .3s;
}
@keyframes show{
    0%{
        transform: scale(0) rotate(-45deg);
    }
    100%{
        transform: scale(1)rotate(-45deg);
    }
}
@keyframes show-reverse{
    0%{
        transform: scale(0) rotate(45deg);
    }
    100%{
        transform: scale(1)rotate(45deg);
    }
}
.endGame{
    background-color: #000000bc;
    position: absolute;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
    display: grid;
    place-content: center;
}
.endGameShow{
    display: grid;
    gap: 1rem;
    text-align: center;
}
.newGameButton{
    background-color: dodgerblue;
    font-weight: bold;
    color: white;
    padding: 1rem 2rem;
    margin: 0 auto;
    width: max-content;
    border: none;
    border-radius: 10px;
    cursor:pointer;
}
.show{
    opacity: 1;
    pointer-events: unset;
}